.odd-numbered{
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#Number-2{
    color: blue;
    font-size:36px;
}

.Number-3{
    font-size:24px
}

#Number-4{
    background-color: lightgreen;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

